<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="project.interline.report.vo.UserVO" alias="user"/>
		<typeAlias type="project.interline.report.vo.WorkReportVO" alias="WorkReportVO"/>
		<typeAlias type="project.interline.report.vo.ReportListVO" alias="ReportList"/>
		<typeAlias type="project.interline.report.vo.Aggregation" alias="Aggregation"/>
	</typeAliases>
	<mappers>
		<mapper resource="AdminMapper.xml" />
		<mapper resource="UserMapper.xml" />
		<mapper resource="WorkReportMapper.xml" />
	</mappers>
</configuration>