<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project.interline.report.dao.UserMapper">

<select id="getUser_login" parameterType="string" resultType="user">
select * from user_inform where usermail =#{login_id}
</select>

	<update id="updateMp" parameterType="user">
		update 
			user_inform 
		set 
			<if test='Password != null and Password != ""'>
			,password = #{Password}
			</if>
		where usernum = #{UserNum}
	</update>
	
	
</mapper>